h1{
    background-color: red;
}

.background{
    background-image: url('pekom.jpeg');
    background-size: 500px;
    height: 500px;
    width: 500px;


}

.red-color {
    color: red;
    padding: 15px;
    text-align: center;
    
}
div > a{
    color: blue;
    text-transform: capitalize;
}
h2 , li{
    text-transform: capitalize;
}
li{
    font-weight: 900;
}
span{
    text-transform: uppercase;
}