h1{
    background-color: red;
}

.background{
    background-image: url('pekom.jpeg');
    background-size: 500px;
    height: 500px;
    width: 500px;


}
.red-color{
    color: red;
    padding: 5%;
    
}
div > a{
    color: blue;
    text-transform: capitalize;
}
h2 , li{
    text-transform: capitalize;
}
span{
    text-transform: uppercase;
}