body{
    background-color: bisque;
}
table{
    border-collapse: collapse;
}
.table-div{
    position: relative;
    left: 25%;
    width: 60%;
    background-color: bisque;
}
.title{
    background-color:yellowgreen;
    padding: 0px;
    font-size: x-large;
}
.parar{
    width: 55%;
    padding: 5px;
    background-color:white;
}

.list{
    width: 30%;
    background-color: rgb(206, 199, 199);
    vertical-align: top;
    
}

.cookies{
    
    width: 100%;
    background-color: gray;
    position: fixed;
    bottom: 0;
    text-align: center;
}
