body{
    background-color:rgb(244, 248, 183) ;
}

div{
    background-color: white;
    width: 500px;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    
}
p{
    padding: 5px;
}

.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}

.para-three{
    border: 2px dotted red;
    color: red;
}

.para-three p{
    border: 2px dotted red;
    
}