h4{
    text-decoration: underline;
}

.li-style {
    color: blue;
}

#pColor{
    color: blue;
}

p > a{
    color: orange;
}

#link{
    background-color: yellow;
    color: black;
}

.click-me{
    font-weight: bold;
}

li > a {
    color: red;
}

.li111{
    font-weight: bold;
}

.red{
    font-weight: bold;
}

.noDot{
    list-style:none ;
}